body {
    background-color: #F4F1EA;
    padding: 5vh;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100vw;
    margin: 0;
    max-height: 100vh;
}

h1 {
    text-align: center;
}

#image {
    position: absolute;
}

#image.jelloon {
    max-height: 30vh;
    display: block;
    height: auto;
    width: auto;
    margin: auto;
    object-fit: cover;
    position: relative;
    left: 10vw;
}
#image.happyjelloon {
    max-height: 30vh;
    position: relative;
    margin: auto;
    display: block;
}

#board {
    background-color: rgb(248, 215, 231);
    border-radius: 24px;
    margin: auto;
    overflow: hidden;
    padding: 2vh 2vw;
    position: relative;
    height: 80vh;
    max-width: 60vh;
    vertical-align: middle;
}

#circle-1, #circle-2 {
    position: absolute;
    background-color: #9D8568;
    z-index: -1;    
}
#circle-1 {
    left: 0vw;
    bottom: -10vh;
    height: min(100vh, 100vw);
    width: min(100vh, 100vw);
    border-radius: min(100vh, 100vw);
}
#circle-2 {
    right: -10vh;
    top: -10vh;
    height: min(80vh, 80vw);
    width: min(80vh, 80vw);
    border-radius: min(80vh, 80vw);
}